    .main-cart {
        min-width: 100vh;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;

        flex-direction: column;
        padding: 10px;
            .empty-cart {
            width: 100vh;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            margin: 50px;
            border-radius: 24px;
            font-size: 25px;
            }
        }

        .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        h1 {
            font-family: dongle;
            font-size: 60px;
        }
        }
