.modal-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #ffafc5, $alpha: 0.4);
    position: fixed;
    left: 0;
    .modal{
        width: 60vw;
        height: 550px;
        padding: 10px;
        margin: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        form{
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            grid-template-rows: 50%;
            row-gap: 20px;
            margin: 20px;
           .input-field{
            display: flex;
            flex-direction: column;
           }
        }
        input{
            width: 200px;
            font-size: 15px;
            padding: 10px;
            margin-right: 50px;
            background-color: rgba($color: #ffafc5, $alpha: 0.4);
            border: none;
            color: #1e1e1f;

        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0
        }
        h1{
            font-family: dongle;
            font-size: 60px;
            line-height: 1em;
        }
        h3{
            font-family: dongle;
            font-size: 30px;
            margin-top: 10px;
            line-height: 1.1em;
        }
        span{
            padding: 10px;
            margin: 2px 0;
            background-color: rgba($color: #fc7a2d, $alpha: 0.2);
            font-size: 12px;
            line-height: 1.1em;
            width: fit-content;
            display: block;
        }
    }
}

