.item-card {
  width: 20%;
  height: 650px;
  background-color: rgba($color: #ffafc5, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  margin: 10px;
  overflow: hidden;
  border-radius: 24px;
  &:hover {
    background-color: rgba($color: #fc7a2d, $alpha: 0.2);
  }
  img {
    width: 300px;
    height: 450px;
    border-radius: 26px;
    padding: 5px;
    object-fit: cover;
  }
  .text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h2 {
      height: 30px;
      font-size: 20px;
      color: #1e1e1f;
      line-height: 1;
      padding: 5px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h4 {
      font-size: 18px;
      padding: 5px;
      text-align: right;
    }
    h5 {
      font-size: 12px;
      margin: 5px;
    }
  }
}
