.item-card {
  width: 350px;
  height: 650px;
  background-color: rgba($color: #ffafc5, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  margin: 10px;
  overflow: hidden;
  border-radius: 24px;
  &:hover {
    background-color: rgba($color: #fc7a2d, $alpha: 0.2);

  }
  button{
    width: 100%;
    
}

  img {
    width: 330px;
    height: 450px;
    border-radius: 26px;
    padding: 5px;
    object-fit: fill;
  }

  .text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h2 {
      height: 35px;
      font-size: 25px;
      line-height: 1;
      padding: 5px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h4 {
      font-size: 21px;
      padding: 5px;
      text-align: right;
    }

    h5 {
      font-size: 18px;
      margin: 5px;
    }
  }
}
