#itemCount{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
        .itemButton{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // background-color: rgba($color: #FF004B, $alpha: 0.2);
            padding: 5px;
            font-family: dongle, sans-serif;
            font-size: 40px;
                .item-arrow{
                    background-color: rgba($color: #FF004B, $alpha: 0.6);
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    margin: 5px;
                    cursor: pointer;
                    border-radius: 100px;
                    color: white;

                }
                .item-quantity{
                    width: 50px;
                    text-align: center;
                    margin-top: 7px;
                }

        }
    button{
        width: 250px;
            height: 40px;
            background-color: #ff004b;
            border-radius: 16px;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            margin: 10px;
        }

}