    #itemCount {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 5px;
        .itemButton {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            font-family: dongle, sans-serif;
            font-size: 40px;
            .item-arrow {
                background-color: rgba($color: #ff004b, $alpha: 0.6);
                width: 50px;
                height: 50px;
                text-align: center;
                margin: 5px;
                cursor: pointer;
                border-radius: 100px;
                color: white;
            }
            .item-quantity {
                width: 50px;
                text-align: center;
                margin-top: 7px;
            }
        }
        }
