.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
        h1{           
            font-size: 100px;
            color: #FC7A2D;
            text-align: center;
            font-family: dongle;
        }
}