.navBar{
    background: linear-gradient(90deg, rgba(255,0,75,1) 0%, rgba(255,175,197,1) 92%);
    min-width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 999999;
        a{
            color: #fff;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
        }
        li{
            font-family: Dongle;
            font-weight: 400;
            padding: 5px;
            font-size: 44px;
            line-height: 0.8;
            margin: 10px;
                &:first-of-type{
                    font-size: 55px;
                    
            }
    }
}


.cart-div{
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
        img{
            cursor: pointer;
        }
    
}

.notActive{
    padding: 10px;
        &:hover{
            background-color: #FC7A2D;
        }    
}


.Active{
    padding: 10px;
    background-color: #FC7A2D;
        &:hover{
            background-color: #FC7A2D;
        }
}