.navBar{
    background: linear-gradient(90deg, rgba(255,0,75,1) 0%, rgba(255,175,197,1) 92%);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 999999;
        a{
            color: #fff;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
        }
        li{
            font-family: Dongle;
            font-weight: 400;
            padding: 5px;
            font-size: 45px;
            line-height: 0.8;
            margin: 10px;
                &:first-of-type{
                    font-size: 55px;
                    
            }
    }
}


.cart-div{
    width: 30%;
    height: inherit;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;

        img{
            width: 50px;
            margin: 10px;
            cursor: pointer;
            
        }
        .cart-button{
            width: 40px; 
            height: 40px; 
            font-size: 30px;
            color: white; 
            background-color: #FF004B; 
            text-align: center;
            border-radius: 100px;
            font-family: 'Dongle';
            display: inline-block;
        }
    
}

.notActive{
    padding: 15px;
        &:hover{
            background-color: #FC7A2D;
        }    
}


.Active{
    padding: 15px;
    background-color: #FC7A2D;
        &:hover{
            background-color: #FC7A2D;
        }
}